.wrapper {
  min-height: 100%;
  color: #3d4255;
  background-color: #e0e0e0;

  .panel {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 75px;
    line-height: 40px;
    text-align: center;

    h3 {
      width: 100%;
    }
  }
  .recipe-box-app {
    padding: 55px 0;
    display: block;
    text-align: center;
    min-height: 200px;

    .dynamic-block {
      display: inline-block;
      text-align: initial;
      min-width: 40vw;
      max-width: 60vw;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 25px;
    }

    @media screen and (max-width: 850px) {
      display: block;
      padding: 8px 5px;
        .dynamic-block {
          min-width: 70vw;
        }
    }
    @media screen and (max-width: 600px) {
      display: block;
      padding: 8px 5px;
        .dynamic-block {
          min-width: 97.3vw;
        }
        ul li {
          font-size: 20px !important;
        }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      input {
        position: relative;
        height: 55px;
        font-size: 30px;
        font-weight: 100;
        line-height: 40px;
        padding: 0 0 0 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 0;
        border-right: 0;
        border-left: 0;
      }

      li.recipe {
        position: relative;
        width: 100%;
        min-height: 55px;
        font-size: 30px;
        // box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1) inset;
        font-weight: 100;
        line-height: 55px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 0 10px;

        a {
          display: block;
          text-decoration: none;
          width: 100%;
          box-sizing: border-box;
          padding: 3px 25px;
          background: #e0e0e0;
          color: #3d4255;
          height: 100%;
          color: #3d4255;

          &:after {
            content: "+";
            position: absolute;
            right: 25px;
          }
        }

        .toggle-inner {
          visibility: hidden;
          opacity: 0;
          overflow: hidden;
          height: 0;
          transition: all .5s linear;
          padding: 0;
        }

        .filters-block {
          display: inline-block;
          overflow: hidden;
          text-align: center;
          width: 100%;
          box-sizing: border-box;
          border-bottom: 1px solid transparent;
          padding: 0 25px;
          max-height: 55px;
          line-height: 44px;
          height: 55px;

          button {
            margin: 0 3px;
            padding: 10px;
            border: 0;
            background-color: lightgray;
            cursor: pointer;
            outline: none;
            background-color: #fff;
            transition: all .9s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            border-radius: 2px;
            &:first-child {
              background-color: rgba(0, 112, 255, 0.25);
              &:hover,
              &:focus,
              {
                background-color: rgba(0, 112, 255, 0.4);
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15) inset;
              }
            }
            &:last-child {
              background-color: rgba(255, 0, 0, 0.25);
              &:hover,
              &:focus,
              {
                background-color: rgba(255, 0, 0, 0.4);
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15) inset;
              }
            }
          }
        }

        .header {
          text-align: center;
          font-size: 22px;
          display: block;
          padding: 0px 50px;
          width: 100%;
          box-sizing: border-box;
          max-height: 55px;
          height: 55px;
          border-bottom: 1px solid #e0e0e0;
        }
        li {
          display: block;
          padding: 0px 50px;
          font-size: 18px;
          width: 100%;
          box-sizing: border-box;
          max-height: 55px;
          height: 55px;
          border-bottom: 1px solid #e0e0e0;
        }

        &:hover {

        }

        &.opened {
          // padding: 0 0 10px;

          a {
            &:after {
              content: '\2013';
              position: absolute;
              right: 25px;
            }
          }

          .toggle-inner {
            visibility: visible;
            opacity: 1;
          }
        }

        &.sortable-ghost {
          opacity: 0.5;
          border: 2px dashed #000;
        }
      }

      li.no-items {
        a {
          color: $MAIN_COLOR;
        }
      }
    }

  }

  input,
  textarea {
    outline: none;
    font-family: $FontName;
    box-sizing: border-box;
    width: 100%;
  }

  .material-buttons {
    position: fixed;
    right: 35px;
    bottom: 20px;
    ul {
      list-style: none;
      li {
        width: 56px;
        height: 53px;
        background-color: $MAIN_COLOR;
        color: #fff;
        border-bottom: 4px solid $MAIN_COLOR_DARK;
        position: relative;
        border-radius: 56px;
        text-align: center;
        font-size: 32px;
        line-height: 56px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
        cursor: pointer;
        &:last-child {
          &::after {
            content: '+';
          }
        }

        span {
          position: absolute;
          font-size: 12px;
          padding: 2px 8px;
          top: 5px;
          background-color: rgba(43,43,43,0.67);
          max-height: 20px;
          border-radius: 3px;
          line-height: 21px;
        }

        &.secondary {
          width: 36px;
          height: 34px;
          border-radius: 36px;
          border-bottom: 3px solid $MAIN_COLOR_DARK;
          font-size: 22px;
          line-height: 40px;
          margin-left: 10px;
          margin-bottom: 10px;

          &#paste-dummy-data span {
            left: -122px;
          }

          &#clear-all-data span {
            left: -92px;
          }
        }

        &#add-new-recipe span {
          top: 15px;
          left: -104px;
        }
        &:hover {
          &:last-child {
            &::after {
              content: '⧉';
            }
          }
        }
      }
    }
  }
}

.modal {

  & > div {
    padding: 35px;
  }

  .modal-header {
    h3 {
      margin: 0;
    }
    button {
      position: absolute;
      top: 0;
      right: 15px;
      padding: 0;
      border: 0;
      color: #a9a9a9;
      background-color: transparent;
      font-size: 32px;
      cursor: pointer;
      outline: none;
      transition: color .3s linear;
      &:hover {
        color: #6b6b6b;
      }
    }
  }

  .form {
    margin: 30px 0;

    label {
      display: block;
      margin: 0 0 5px;
      font-size: 14px;
    }

    input {
      border: 0;
      border-bottom: 1px solid #e0e0e0;
      min-height: 30px;
      margin: 10px 0 25px;
      font-size: 14px;
    }

    textarea {
      border: 0;
      border-bottom: 1px solid #e0e0e0;
      min-height: 30px;
      margin: 10px 0 25px;
      font-size: 14px;
    }
  }

  footer {
    text-align: right;
    button {
      display: inline-block;
      margin: 0 3px;
      padding: 10px;
      border: 0;
      background-color: lightgray;
      cursor: pointer;
      outline: none;
      background-color: #fff;
      transition: all .9s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      border-radius: 2px;
      &:first-child {
        background-color: rgba(0, 112, 255, 0.25);
        &:hover,
        &:focus,
        {
          background-color: rgba(0, 112, 255, 0.4);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15) inset;
        }
      }
    }
  }
}